.header-container {
    background-color: $rapBlue;

    .circle {
        position: absolute;
        left: 0;
        overflow: hidden;
    }

    .header {
        display: flex;
        justify-content: space-between;
        color: $white;
        font-family: Livvic-Bold;

        .find {
            font-size: em(64px);
            width: 50%;

            .talent {
                color: $lightCoral
            }
        }

        .header-content {

            display: flex;
            width: 50%;
            font-size: em(18px);
            font-family: Livvic-SemiBold;
            
            .card {
                // padding-bottom: em(16px);
                align-self: flex-end;

            }
        }
    }
}