// Colors
$midGreen: #014e56; //Midnight Green
$lightCoral: #F67e7e; //Light coral
$white: #Ffffff; //

$rapBlue: #79c8c7; //rapture blue
$rapBlue: #2c6269; //police blue
$deepGreen: #004047; //deep jungle green
$sacGreen: #012f34; //Sacramento state green
$darkGreen: #002529; //Dark green

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
